# Ignore PyCharm settings
.idea/
~

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database files
*.db

# Ignore environment files
.env
.venv/
venv

.vscode

# Ignore logs and system files
*.log
